*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"Manrope";
    src: url(/assets/fonts/Manrope/static/Manrope-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Playwrite_HU";
    src: url(/assets/fonts/Playwrite_HU/static/PlaywriteHU-Regular.ttf) format("turetype");
}


:root {

    /* Font Related Variables */
   --font-manrope: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --font-playwrite: "Playwrite_HU",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

   --font-light:400;
   --font-regular:500;
   --font-bold:700;

   --font-xsmall:0.5rem;
   --font-small:0.875rem;
   --font-medium:1rem;
   --font-large:1.25rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* border: 1px solid; */
    border-radius: 10px;
    font-family:var(--font-manrope);
    font-weight: var(--font-regular);
    font-size: var(--font-medium);
    /* box-shadow: 0px 10px 20px gray; */
    /* font-family: var(--font-playwrite); */
}
.container{
    width: 80vw;
    margin: 1rem auto;
}
.logos{
    display: flex;
    gap: 1rem;
}

.logos img{
    height: 60px;
}
.menu-links, .links, ul {
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    /* border: 1px solid; */
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.15s ease;
}
a:hover{
    background: rgba(145, 181, 221, 0.534);
    color: white;
}

.mobile-links ul:nth-child(1){
    height: 2rem;
}